body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navigationBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 5vh;
    padding: 10px;
}

.navigationBar a {
    color: rgb(0,0,0);
    text-decoration: none;
    padding: 5px;
}
.navigationBar a:hover{
    text-decoration: underline;
}

.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    height: 20vh;
    margin: 10px;
}

p {
    display: flex;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

p > :first-child {
    text-decoration: line-through;
    rotate: -35deg;
    margin-right: -35px;
    margin-top: 15px;
    color: firebrick;
}

p > :nth-child(n+2) {
   font-size: 100px;
   font-weight: bold;
   margin: -2px; 
}

.searchBar{
    margin: 10px;
    height: 15vh;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 30px;
}

input[type=text]{
    width: 40%;
    padding: 13px;
    padding-left: 50px;
    border-radius: 30px;
    border: 1px solid rgb(200,200,200);
    background-image: url("search.png");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: 20px 15px;
    font-size: 16px;
}

input[type=text]:focus{
    outline-width: 0px;
    box-shadow: 0px 0px 5px rgba(100,100,100,0.5);
}

input[type=text]:hover {
    box-shadow: 0px 0px 5px rgba(100,100,100,0.5);
}


input[type=submit] {
    border-radius: 4px;
    outline-width: 0px;
    font-size: 14px;
    color: rgb(50,50,50);
    border: none;
    height: 35px;
    background-color: rgb(245,245,245);
    width: 120px;
}

input[type=submit]:hover{
    border: 1px solid rgb(215,215,215);
    box-shadow: 0px 1px rgba(180,180,180,0.5);
    cursor: pointer;
}

.blueLetter {
    color: rgb(66,133,244);
}

.redLetter {
    color: rgb(234,67,53);
}

.yellowLetter {
    color: rgb(251,230,5);
}

.greenLetter {
    color: rgb(52,168,83);
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: start;
    margin-top: auto;
    flex-wrap: wrap;
    border-top: 1px solid rgb(220,220,220);
    background-color: rgb(245,245,245);
}