body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 60vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.new_article_form {
    display: flex;
    flex-direction: column;
}

#id_title {
    width: 80%;
    margin-bottom: 15px;
}

.new_article_form input[type=submit] {
    width: 100px;
    align-self: flex-end;
    margin-top: 15px;
    margin-right: 215px;
}

.edit_page_form {
    display: flex;
    flex-direction: column;
}

.edit_page_form input[type=submit] {
    width: 100px;
    align-self: flex-end;
    margin-top: 15px;
    margin-right: 215px;
}

label {
    font-size: 30px;
}