{% extends "auctions/layout.html" %}
{% block body %}
    <h3>{{ test }}</h3>
    <h3>listing</h3>
    {{ listing_to_view.title }}
    {{ listing_to_view.description }}
    {{ listing_to_view.category }}
    <img class="auction_image" src="{{ listing_to_view.image }}" alt=""> 
    {{ listing_to_view.date }} 
    {{ highest_bid }}
    {% if user.is_authenticated %}
        {% if can_close %}
            {% if listing_to_view.is_active %}
                <form action="{% url 'listing' listing_to_view.title %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_form" value="close">
                    <button>Close listing</button>
                </form>
            {% endif %}
        {% endif %}
        {% if can_watchlist %}    
            {% if not is_watched %}
                <form action="{% url 'listing' listing_to_view.title %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_form" value="watchlist">
                    <button>Add to watchlist</button>
                </form>
            {% endif %}
        {% endif %}
        {% if can_bid %}
            <a href="{% url 'bid' listing_to_view.title %}">Make a bid</a>
        {% endif %}
    {% endif %}
    {% if not listing_to_view.is_active %}
        <p>The current listing was closed by {{ listing_to_view.user }}, 
            and the user: {{ highest_bidder }} won the auction with a bid of: {{ highest_bid }}
        </p>
    {% endif %}
    <p>
        Comments:
    </p>
    {% for comment in comments %}
        {{ comment.user }}: {{ comment.comment }}
        <br>
    {% endfor %}
    <form action="{% url 'listing' listing_to_view.title %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="post_form" value="comment">
        <button>Leave a comment</button>
    </form>
{% endblock %}