{% extends "auctions/layout.html" %}
{% block body %}
    <h3>Watchlist:</h3>
    {% for listing in listings_with_bid %}
    <div class="listing_full">
        <div class="listing_image">
            <img class="auction_image" src="{{ listing.0.image }}" alt="">  
        </div>
        <div class="listing_content">
            <h4>
                Listing information:
            </h4>
            <br>
            <div id="content_title">
                <span id="description">
                   Product: 
                </span> 
                {{ listing.0.title }} 
            </div>
            <div id="content_description">
                <span id="description">
                    Description:
                </span>
                {{ listing.0.description }} 
            </div>
            <div id="content_price">
                <span id="description">
                    Current price: 
                </span>
                $ {{ listing.1 }}
            </div>
            <br>
            <div id="content_date">
               Listing created by {{ listing.0.user }} in {{ listing.0.date }}
            </div>
        </div>
        <div id="listing_url">
            <a href="{% url 'listing' listing.0.title  %}">
                <button id="button">Go to listing</button>
            </a>   
        </div>
    </div>  
    {% endfor %}
{% endblock %}